{% extends'base.html' %}
{% block body %}

    <div class="content">
        <section class="banner">
            <div class="centered">
                <h2 class="banner-heading">Distributed File Hosting System</h2>
                <p class="banner-text">Distributed File Systems are a cruel HOAX <br> Well not anymore...</p>
            </div><!-- .centered -->
        </section><!-- .banner -->

        <main class="main-area">
            <section class="boxes">
                <article class="box double">
                    <a href="https://www.flickr.com/photos/projectapolloarchive/21083593603/in/album-72157659085112111/" target="_blank">
                        <figure class="featured-image">
                            <img src="images/world.jpg" alt="AS17-148-22719 by NASA on Flickr">
                        </figure>
                        <div class="box-text">
                            <h2 class="box-title">Seeing the World</h2>
                            <p class="box-blurb">Internet designed in a way it was meant to be and not in a way it has become over the years.</p>
                        </div><!-- .box-text -->
                    </a>
                </article><!-- .box -->
                <article class="box">
                    <a href="https://en.wikipedia.org/wiki/Pale_Blue_Dot" target="_blank">
                        <figure class="featured-image">
                            <img src="images/Pale_Blue_Dot.png" alt="Pale Blue Dot on Wikipedia">
                        </figure>
                        <div class="box-text">
                            <h2 class="box-title">Secure</h2>
                            <p class="box-blurb">The data stored on the servers are completely secure and never be tampered with</p>
                        </div><!-- .box-text -->
                    </a>
                </article><!-- .box -->
                <article class="box">
                    <a href="https://en.wikipedia.org/wiki/Earthrise" target="_blank">
                        <figure class="featured-image">
                            <img src="images/Earthrise.jpg" alt="Earthrise on Wikipedia.org">
                        </figure>
                        <div class="box-text">
                            <h2 class="box-title">Distributed</h2>
                            <p class="box-blurb">The data is completely Distributed without having a single entity with control</p>
                        </div><!-- .box-text -->
                    </a>
                </article><!-- .box -->
            </section><!-- .boxes -->

            <section class="intro">
                <h1 class="intro-title">Welcome to DiFH</h1>
                <div class="columns">
                    <p>Create and Host your static web pages for free on the Ethereum Block Chain Network. Using the IPFS protocol host your websites, never see a Server Down page ever again. </p>
                    <p>Design your webpages from scratch or use one of the multiple templates available without writing any line of code. Host and Manage your webpages at zero charges and we promise to keep that until the company goes down.</p>
                </div><!-- .columns -->

            </section><!-- .intro -->

            <section class="levels">
                <div class="level-list">
                    <div class="level">
                        <a href="https://www.flickr.com/photos/projectapolloarchive/21042845553/in/album-72157656682617854/" target="_blank">
                            <figure class="level-image">
                                <img src="images/ship.jpg" alt="AS17-145-22257 by NASA on Flickr">
                            </figure>
                            <h3 class="level-title">Big</h3>
                            <p class="level-blurb">The big picture, on a macro level, tells us about the world.</p>
                        </a>
                    </div><!-- .level -->
                    <div class="level">
                        <a href="https://www.flickr.com/photos/projectapolloarchive/21497401259/in/album-72157658983462236/" target="_blank">
                            <figure class="level-image">
                                <img src="images/gradient.jpg" alt="AS17-140-21507 by NASA on Flickr">
                            </figure>
                            <h3 class="level-title">Medium</h3>
                            <p class="level-blurb">On closer inspection, nothing is as simple as it seems.</p>
                        </a>
                    </div><!-- .level -->
                    <div class="level">
                        <a href="https://www.flickr.com/photos/projectapolloarchive/21496389518/in/album-72157658983462236/" target="_blank">
                            <figure class="level-image">
                                <img src="images/rock.jpg" alt="AS17-140-21497 by NASA on Flickr">
                            </figure>
                            <h3 class="level-title">Small</h3>
                            <p class="level-blurb">At the granular oolith level, even the simplest item is unimaginably complex.</p>
                        </a>
                    </div><!-- .level -->
                </div><!-- .level-list -->
            </section><!-- .levels -->
        </main><!-- .main-area -->
    </div><!-- .content -->


    {% endblock %}
